<br><div style="text-align: center;"><h2>Quick Access</h2></div><br>
<div class="row justify-content-center">

    <div class="col-4">
            <!-- Card -->
            <div class="card">

        <!-- Card image -->
        <div style="text-align: center;"><br><img class="card-img-top" src="assets/images/notes.png" style="width: 30%;" alt="Card image cap"></div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title" style="text-align: center;"><a>Notes</a></h4>
            <!-- Text -->
            <p class="card-text" style="text-align: center;">Download any College Notes from here</p>
            <!-- Button -->
            <div style="text-align: center;"><a href="#" class="btn btn-dark">Click here to view notes</a></div>

        </div>

        </div>
    </div>
    <div class="col-4 offset-2">
        <!-- Card -->
        <div class="card">

    <!-- Card image -->
    <div style="text-align: center;"><br><img class="card-img-top" src="assets/images/marks.png" style="width: 30%;" alt="Card image cap"></div>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title" style="text-align: center;"><a>Marks</a></h4>
        <!-- Text -->
        <p class="card-text" style="text-align: center;">Know your Internal Assessment Examination marks here</p>
        <!-- Button -->
        <div style="text-align: center;"><a href="#" class="btn btn-dark">Click here to view marks</a></div>

    </div>

    </div>
</div>
</div>